<body style="background-color: black; color: red; font-size: 1.3em">
  <div style="height: 100%; width: 100%; text-align: center">
    <img style="width: 300px" src="/logo_w.png" />
    <img src="/heartcore.png" />
    <div>
      <a style="color: inherit; text-decoration: none" href="https://heartcore.bandcamp.com">Bandcamp</a>
      ·
      <a style="color: inherit; text-decoration: none" href="https://soundcloud.com/fazibear/sets/heartcore">Soundcloud</a>
      ·
      <a style="color: inherit; text-decoration: none" href="https://www.youtube.com/@heartcore_music">Youtube</a>
    </div>
  </div>
  <div style="text-align: center">
    <iframe style="display: block; margin-left: auto; margin-right: auto; padding: 10px; border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/track=2259732897/size=small/bgcol=000000/linkcol=ff0000/transparent=true/" seamless><a href="https://heartcore.bandcamp.com/track/wtf-is-love">WTF Is Love by Heartcore</a></iframe>
    <iframe style="display: block; margin-left: auto; margin-right: auto; padding: 10px; border: 0; width: 50%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/track=1944836849/size=small/bgcol=000000/linkcol=ff0000/transparent=true/" seamless><a href="https://heartcore.bandcamp.com/track/dream">Dream by Heartcore</a></iframe>
  </div>
</body>
